body {
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: whitesmoke;
    margin: 0px;
    text-align: center;
}

#container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 80vw;
    white-space: nowrap;
}

#clicks {
    font-size: 10vw;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

#button {
    margin-top: 25px;
    width: 25vw;
    font-size: 5vw;
    padding: 10px;
    border-radius: 10px;
}

#subtract {
    top: 100%;
    transition: opacity 1s;
    transition-behavior: allow-discrete;
    height: 25px;
    color: #111;
}

.subtract-hidden {
    visibility: hidden;
    opacity: 0;
}

.underlineButton {
    display: block;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 20px 0px;
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 2vw;
}

#options {
    color: #4e4e4e;
}

#optionsModal {
    border: none;
    padding: 20px;
}

#optionsModal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

h2 {
    margin-top: 0;
}

.optionsLayout {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.optionsButton {
    display: block;
    padding: 10px;
    width: 100%;
}


@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: #2B2A33;
    }

    #options {
        color: #bebebe;
    }

    #subtract {
        color: #eee;
    }

    #optionsModal {
        color: white;
        background-color: #2B2A33;
    }
}